html {
  font-family: 'Roboto', sans-serif;
}
div {
  display: flex;
}
span {
  color: #18d7dd;
}
.navigation {
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  background-color: #2f2f2f;
  color: white;
}
.navigation h1 {
  transition: 0.5s;
}
.navigation h1:hover {
  color: #18d7dd;
  cursor: pointer;
}
.navigation .nav_head {
  padding-left: 1rem;
}
.navigation .user {
  padding-right: 1rem;
}
.user,
.nav_head {
  width: 10%;
  justify-content: space-around;
}
.nav_title {
  font-size: 2rem;
}
#one {
  background-color: #2f2f2f;
}
.header {
  width: 100%;
  height: 80vh;
  color: white;
  background-image: url(../assets/yeet30.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  justify-content: space-around;
  align-items: center;
}
.header h1 {
  font-size: 10rem;
}
.header h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.header form {
  display: flex;
  flex-direction: column;
}
.header form .text_field {
  width: 30rem;
  height: 3rem;
  font-size: 2rem;
}
.header form .button {
  width: 15rem;
  height: 3rem;
  align-self: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}
#two {
  background-image: linear-gradient(to left, #2f2f2f, black);
}
.we_cont {
  justify-content: space-around;
  align-items: center;
}
.we_are {
  flex-direction: column;
  padding: 3rem 0;
  font-size: 3rem;
  color: white;
  align-items: center;
}
.we_are h1 {
  padding: 3rem 0;
}
.we_are img {
  width: 30rem;
  height: auto;
  padding-bottom: 1rem;
}
.we_are button {
  width: 15rem;
  height: 3rem;
  margin: 3rem 0;
  font-size: 2rem;
}
.footer {
  justify-content: space-around;
  height: 15rem;
  background-color: #2f2f2f;
  color: white;
}
.foot_left,
.foot_right {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.foot_left h1,
.foot_right h1 {
  font-size: 3rem;
}
.foot_left p,
.foot_right p {
  font-size: 2rem;
}
.copyright {
  position: absolute;
  align-self: flex-end;
  margin-bottom: 0.1rem;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  height: 15rem;
  border-radius: 0.5rem;
}
.modal-content form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.modal-content form .submit_button {
  height: 2rem !important;
  font-size: 1.2rem;
}
.modal-content form input {
  height: 2.5rem;
  font-size: 2rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
  position: absolute;
  align-self: flex-end;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
