html {
  font-family: 'Permanent Marker', cursive;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: url(../assets/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  height: 100%;
}
div {
  display: flex;
}
.styled {
  font-size: 4rem;
}
.main-container {
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}
.smol-container {
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  background-color: rgba(47, 47, 47, 0.329);
}
.smol-container h1 {
  color: white;
}
.title {
  width: 30%;
  justify-content: center;
}
.main-nav {
  width: 40%;
  font-size: 2rem;
  justify-content: space-around;
  align-items: flex-end;
  color: white;
}
.main-nav p {
  transition: 0.25s;
}
.main-nav p:hover {
  cursor: pointer;
  color: lightgray;
}
.footer {
  background-color: #161616;
  height: 10%;
  justify-content: center;
  align-items: flex-end;
}
.footer-container {
  width: 35%;
  color: white;
  padding: 0.5rem;
  justify-content: space-around;
  font-size: 2rem;
}
@media (max-width: 1400px) {
  .main-container {
    justify-content: space-between;
  }
  .styled {
    font-size: 2.25rem;
  }
  .title {
    width: 40%;
  }
  .main-nav {
    width: 60%;
    font-size: 1.25rem;
  }
  .footer-container {
    width: 70%;
  }
}
