// ***
// Global
// ***

html {
  font-family: 'Roboto', sans-serif;
}

div {
  display: flex;
}

// ***
// Header
// ***

.header {
  display: flex;
  height: 100vh;
  background-image: url(../assets/Yasuo_0.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  max-width: 1920px;
}

.sec1,
.sec2 {
  width: 50%;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec1 img {
  width: 30rem;
  height: auto;
}

.sec2 {
  color: white;
  h1 {
    font-size: 12rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}
