html {
  font-family: 'Roboto', sans-serif;
}
div {
  display: flex;
}
.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
  width: 100%;
}
.sec1,
.sec2 {
  width: 50%;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#particles-js {
  background-color: #2f2f2f !important;
  position: absolute;
  width: 100%;
  height: 43rem;
}
#header {
  display: flex;
  height: 100vh;
  background-image: url(../assets/yasback.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  max-width: 1920px;
}
#header .sec1 img {
  width: 30rem;
  height: auto;
}
#header .sec2 {
  color: white;
}
#header .sec2 h1 {
  font-size: 12rem;
}
#header .sec2 h2 {
  font-size: 2.5rem;
}
#one {
  display: flex;
  flex-direction: column;
  background-color: #2f2f2f;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  height: 43rem;
}
.idone {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: white;
  opacity: 0;
}
.idone h1 {
  font-size: 10rem;
}
.rowone {
  color: white;
  margin-bottom: 2rem;
}
#two {
  display: flex;
  background-image: url(../assets/yasback2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}
#two .sec2 {
  color: white;
  font-size: 8rem;
}
.idtwo {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100% !important;
}
.idtwo h1 {
  font-size: 8rem;
  color: black;
}
.idtwo .highlightreel {
  margin-top: 5rem;
  justify-content: space-around;
  width: 100%;
}
.animone {
  animation: showme 2s forwards;
}
@keyframes showme {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
