// ***
// Global
// ***

html {
  font-family: 'Roboto', sans-serif;
}

div {
  display: flex;
}

.col {
  flex-direction: column;
}

// ***
// Colors
// ***

@textwhite: white;
@textblack: black;
@black: rgb(33, 33, 33);

// ***
// Header
// ***

#header {
  display: flex;
  height: 100vh;
  background-image: url(../assets/yasback.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  max-width: 1920px;
}

.sec1,
.sec2 {
  width: 50%;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec1 img {
  width: 30rem;
  height: auto;
}

.sec2 {
  color: @textwhite;
  h1 {
    font-size: 12rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

// Section One

#one {
  display: flex;
  height: auto;
  background-image: url(../assets/yasback2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.idone {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: @textwhite;
  opacity: 0;

  h1 {
    font-size: 10rem;
  }
}

.animone {
  animation: showme 2s forwards;
}

// ***
// Animations
// ***

@keyframes showme {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
