// ***
// Global
// ***

html {
  font-family: 'Roboto', sans-serif;
  background-color: @white100;
}

div {
  display: flex;
}

span {
  color: @textblue;
}

// ***
// Colors & Mixins
// ***

@black: rgb(47, 47, 47);
@white: rgb(250, 250, 250);
@white100: rgb(245, 245, 245);
@white300: rgb(224, 224, 224);
@textblack: black;
@textwhite: white;
@textblue: rgb(24, 215, 221);

// ***
// Navigation
// ***

.navigation {
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  background-color: @white300;
  padding-left: 1rem;

  h1 {
    font-size: 1.5rem;
  }

  .light-dark {
    width: 5%;
    justify-content: space-around;
    padding-right: 1rem;
  }
}

// ***
// Header
// ***

.header {
  height: 30vh;
  background-color: @black;

  flex-direction: column;
  justify-content: space-around;

  .text_left {
    align-self: flex-start;
    padding-left: 2rem;

    h1 {
      font-size: 8rem;
      color: @white300;
    }
  }

  .text_right {
    flex-direction: column;
    align-self: flex-end;
    padding-right: 2rem;

    h2 {
      font-size: 3rem;
      color: @white300;
      text-align: center;
    }
  }
}
